@import "tailwindcss";
:root {
  --font-heading: var(--font-poppins);
  --font-body: var(--font-inter);
  --color-primary: #da251c;
  --color-primary-light: #ffdcda;
  --color-secondary: #fa812f;
  --color-accent: #fab12f;
}

@media (min-width: 1200px) {
  :root {
    --h1: 65px;
    --h2: 42px;
    --h3: 36px;
    --h4: 20px;
    --h5: 16px;
    --h6: 14px;
  }
}

body {
  font-family: var(--font-body);
}

.text-primary {
  color: var(--color-primary);
}
.text-primary-light {
  color: var(--color-primary-light);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-accent {
  color: var(--color-accent);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-light {
  background-color: var(--color-primary-light);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.hover-primary:hover {
  background-color: var(--color-primary);
}
.hover-secondary:hover {
  background-color: var(--color-secondary);
}
.hover-accent:hover {
  background-color: var(--color-accent);
}

h1 {
  font-size: var(--h1);
  font-family: var(--font-heading);
}
h2 {
  font-size: var(--h2);
  font-family: var(--font-heading);
}
h3 {
  font-size: var(--h3);
  font-family: var(--font-heading);
}
h4 {
  font-size: var(--h4);
  font-family: var(--font-heading);
}
h5 {
  font-size: var(--h5);
  font-family: var(--font-heading);
}
h6 {
  font-size: var(--h6);
  font-family: var(--font-heading);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
